.main {        
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    background-color: #FFFFFF;
    .header {
        width: 100%;
    }
    .footer {
        width: 100%;
        margin-top: auto;
        background-color: blueviolet;
    }
    .wrapper{
        width: 100%;
        background: #FFFFFF;
        display: grid;
        grid-template-areas:
            "red   yellow" 
            "green yellow";
        grid-template-rows: auto 1fr;
        grid-template-columns: 200px auto;
    }
    .content {
        background: yellow;
        height: fit-content;    
        grid-area: yellow;
    }
    .content__img{
        width: 280px;
        height: 170px;
        float: left;
        margin-right: 24px;
        border: 2px solid #000000;        
    }
    .side-contaiter{
        width: 400px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        flex-shrink: 0;
    }
    .side-1 {
        background: green;
        grid-area: green;
    }
    .side-2 {
        background: red;
        grid-area: red;
    }
    .side-1,
    .side-2{
        resize: vertical;
        overflow: auto;
        height: fit-content;
    }
  }
  div {
        background: #ccc;
  }
  body{
    margin: 0;
}
@media (max-width: 900px){
    .main { 
    .wrapper{
        grid-template-areas:
            "red" 
            "yellow"
            "green";
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}
}